.input-date {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.input-date > div {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.input-date label {
	border-bottom: 1px solid var(--primary-color);
}

.input-date input {
	appearance: none;
	color: #1d1d1d;
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 14px;
	border: 1px solid var(--primary-color);
	padding: 4px;
	display: inline-block;
	visibility: visible;
	width: 140px;
}
.input-date input:focus {
	color: var(--primary-color);
	background-color: #ffffff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.2);
}

.input-date input:hover {
	cursor: pointer;
}

.errorSpan {
	color: red;
	font-size: small;
	display: block;
	width: 100%;
	text-align: end;
	margin-top: 1rem;
}

.invisible {
	display: none;
}
